{{ define "title" }}Fields{{ end }}
{{ define "content" }}
<div class="grid-x small-up-1">
    <div class="cell">
        <h1>Fields</h1>
    </div>
</div>
<div class="grid-x small-up-1">
    <div class="cell">
        <table class="hover">
            <thead>
                <tr><th>Name</th><th>Crops</th></tr>
            </thead>
            <tbody>
                {{ range .Fields }}
                <tr class="row-hyperlink" data-href="/fields/view?name={{ .Name }}">
                    <td>{{ .Name }}</td>
                    <td>{{ .Crop }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
{{ define "scripts" }}
<script>
    "use strict";
    // Enable hyperlinks for table rows
    $(function() {
        let $row = $(".row-hyperlink");
        $row.css("cursor", "pointer");
        $row.click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{{ end }}