{{ define "title" }}{{ .Field.Name }}{{ end }}
{{ define "content" }}
<div class="grid-x small-up-1">
    <div class="cell">
        <h1>{{ .Field.Name }}</h1>
    </div>
</div>
<div class="grid-x">
    <div class="cell button-group">
        <button type="button" class="button alert" data-open="deleteModal">Delete</button>
    </div>
</div>
<div class="grid-x">
    <form class="cell" method="POST">
        <label>Crop <input type="text" name="crop" value="{{ .Field.Crop }}"/></label>
        <input type="submit" name="submit" value="Update" class="button"/>
    </form>
</div>
<div class="grid-x">
    <div class="cell">
        <h2>Sensors</h2>
        <table class="hover">
            <thead>
                <tr><th>Name</th><th>Measurement</th><th>Reading</th><th>Last updated</th></tr>
            </thead>
            <tbody>
                {{ range .Sensors }}
                <tr class="row-hyperlink" data-href="/sensor?unit={{ .Unit }}&sensor={{ .Sensor }}">
                    <td>{{ .Name }}</td>
                    <td>{{ .MeasurementName }}</td>
                    <td>{{ .Reading }}{{ .MeasurementUnit }}</td>
                    <td>{{ .LastUpdated }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
<form method="POST" class="reveal" id="deleteModal" data-reveal>
    <h1>Delete field</h1>
    <p>This action can not be undone. Are you sure you want to delete this field?</p>
    <input type="submit" name="submit" value="Delete" class="button alert">
    <button class="button secondary" data-close>Cancel</button>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</form>
{{ end }}
{{ define "scripts" }}
<script>
    "use strict";
    // Enable hyperlinks for table rows
    $(function() {
        let $row = $(".row-hyperlink");
        $row.css("cursor", "pointer");
        $row.click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{{ end }}