{{ define "body" }}
<div class="off-canvas position-left reveal-for-large" id="sidebar" data-off-canvas>
    <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li>
            <a href="#">Sensors</a>
            <ul class="menu vertical nested">
                <li><a href="#">All sensors</a></li>
                <li><a href="#">New sensor</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Scripting</a>
            <ul class="menu vertical nested">
                <li><a href="#">All scripts</a></li>
                <li><a href="#">New script</a></li>
                <li><a href="#">Error log</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
    <div class="title-bar">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="sidebar"></button>
            <span class="title-bar-title">SmartFarm</span>
        </div>
    </div>
    <div class="grid-container fluid">
        {{ template "content" .Data }}
    </div>
</div>
{{ end }}