{{ define "title" }}Script Errors{{ end }}
{{ define "content" }}
<div class="grid-x small-up-1">
    <div class="cell">
        <h1>Script Errors</h1>
    </div>
    <div class="cell">
        <table class="hover">
            <thead>
                <tr><th>Script Name</th><th>Timestamp</th><th>Message</th></tr>
            </thead>
            <tbody>
                {{ range .Errors }}
                <tr class="row-hyperlink" data-href="/scripts/edit?id={{ .ScriptID }}">
                    <td>{{ .Name }}</td>
                    <td>{{ .Timestamp }}</td>
                    <td>{{ .Message }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
{{ define "scripts" }}
<script>
    "use strict";
    // Enable hyperlinks for table rows
    $(function() {
        let $row = $(".row-hyperlink");
        $row.css("cursor", "pointer");
        $row.click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{{ end }}